/* Style the input tag */
.commonInputStyle{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
   }
   
/* Style the button tag */
.search-button {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 0px 20px;
    margin: 8px 3px;
    border: 2px solid #ccc;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 5px;
    opacity: 0.9;
}

.search-button:hover {
    opacity:1;
}

.DockerInspectPre{
overflow: auto;
height: 400px;
}

.star {
    color: red;
}